html, body {
  min-height: 100vh
}

#content {
  flex: 1 1 auto;
}

pre {
  background-color: var(--dark);
  border-left: .25rem solid var(--gray);
  color: var(--white);
  border-radius: .5rem;
  padding: .5rem 1rem;
}

blockquote {
  background-color: var(--white);
  border: .1rem solid var(--gray);
  border-left: .25rem solid var(--gray);
  border-radius: .5rem;
  padding: .5rem 1rem;
}

blockquote p {
  margin-bottom: 0;
}
